###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto


# Sitecore serialized files should be treated as binary
*.item -text